.widget-selection-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff !important;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.tabs {
    display: flex;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.tab {
    flex: 1;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    border-bottom: none;
    background: #f0f0f0;
}

.tab.active {
    background: #fff;
    font-weight: bold;
    border-color: #ddd;
    border-bottom: none;
}

.widget-list {
    margin-bottom: 20px;
}

.widget-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.widget-item input {
    margin-right: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.modal-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-buttons button:hover {
    background-color: #e0e0e0;
}


.widget-search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
